body {
    background-color: #f5f5f5;
}

.checkbox {
    top: 50%;
    transform: translateY(-50%);
}

.checked {
    color: green;
}

.checked:before {
    content: "\2713";
    padding: 10px 10px;
    font-size: 20px;
}

.checked:hover {
    text-decoration: none;
}

.checked:after {
    content: "(remove)";
    color: tomato;
    text-align: right;
}

html, body {
    margin: 0;
    padding: 0;
}

.striked {
    text-decoration: line-through;
}

.task {
    background-color: greenyellow;
    height: 50px;
    border: black;
    border-width: 2px;
    border-style: solid;
    animation-name: delete;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.task > p {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.task > .checkbox {
    top: 50%;
    transform: translateY(-50%);

}

.task > .trash {
    top: 50%;
    transform: translateY(-50%);
    float: right;
}

#tasklist {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.title {
    color: red;
    /* background-color: #fff; */
    font-family: Lobster, sans-serif;
    height: auto;
    margin-top: -30px;
    /* padding-top: 60px; */
}

.trash{
    visibility: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

ul > li {
    color: #899098;
    font-weight: normal;
    border-bottom: 1px solid #cfcbcc;
    line-height: 1.5;
    padding: 8px 0;        
}

ul > li:before {
    content: "\25A1";
    padding: 10px 10px;
    font-size: 20px;
}

ul > li:hover {
    text-decoration: line-through;
    cursor: pointer;
}

ul > li:last-child {
    border-bottom: none;
}

@media (max-width: 350px) {
    :root {

    }
}